@charset "utf-8";
@import 'bourbon';
@import 'base/base';

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #191919;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  &#canvas {
    z-index: 2;
  }
  &#orbit {
    z-index: 1;
  }
}
